# https://editorconfig.org

root = true

# Configuración para todos los archivos
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Archivos PHP
[*.php]
indent_style = space
indent_size = 4

# Archivos JavaScript y CSS
[*.{js,css}]
indent_style = space
indent_size = 2

# Archivos de configuración
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

# Archivos Markdown
[*.md]
trim_trailing_whitespace = false

# Archivos SQL
[*.sql]
indent_style = space
indent_size = 2

